/*  TODO porject css
h1{
 font-weight: 700;
 font-size: 45px;
 margin:25px;
 margin-top: 10px;
}
input{
  width: 100%;
}
.todo-body{
  text-align: left;

}
.pav-row{
  margin:10px
}
.pav-button{
  min-width: 80px;
}
 */